.admin-auth{
    width:460px;
    margin:0px 33%;
}
.do-seller-homepage {
    background: #f2f3f7;
}

.do-seller-navbar {
    padding: 0px;
    height: 34px;
    width: 100%;
    background: #0f9e5e;
}

